@media print, (max-width: 767px) {
    .first-section_image {
        width: 430px;
        height: 371px;
        margin-top: 0px;
    }
    header {
        padding-top: 35px;
        padding-bottom: 35px;
    }
    .header_logo img {
        width: 143px;
        padding-right: 22px;
    }
    .header_logo span {
        font-size: 14px;
        padding-left: 21px;
    }
    .first-section_text {
        font-size: 19px;
        margin-bottom: 40px;
    }
    .first-section a {
        font-size: 17px;
        width: 170px;
        height: 62px;
    }
 


}